.edit_btn{
    background-color: darkturquoise;
    padding: 10px;
    border-radius: 3px;
    margin-right: 5%;
    color: wheat;
    font-weight: bold;

}

.delete_btn{
    background-color: brown;
    padding: 10px;
    border-radius: 3px;
    margin-right: 5%;
    color: wheat;
    font-weight: bold;
    cursor: pointer;
}

.btn{
    /* display: none; */
    cursor: pointer;
    bottom: 0;
    position: relative;
 }

 .btn_flex{
    display: flex;
    gap: 20px;
 }

 .mar-left{
    margin-left: 6%;
 }

 .radio_margin{
    margin-left: 5%;
 }
