

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,2fr));
    grid-gap: 55px;
}
.scrol-dash{
    /* width: 100px; */
    height: 600px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    

}
.w-dash{
    width: 400px;
}

.zone{
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #bbb;
    transition: all 0.3 linear;
    height: 200px;
   
}

/* .zone{
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #bbb;
    transition: all 0.3 linear;
    height: 200px;
   
}
.zone:hover{
    transition: all 0.5s ;
    transform:scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 5px, inset rgba(0, 0, 0, 0.15) 0px 5px 25px;
} */