*{
  
}

.top-bar{
  width: 100wh;
  height: 10%;
  background-color: #6200EA;
  margin-bottom: 2%;
  border-radius: 5px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  
  

  
}
.top-head{
  width: 35wh;
}

.bg-img{
  /* background-image: url('./component/photos/school-logo.png'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.imgs{
  /* border-radius: ; */
  width: 15%;
  border-radius: 15%;
  margin-top: 5px;
  margin-left: 55%;
  

}

.wid{
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* printing styling */
@media print {
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12pt;

  }
  @page {
    margin: 0.2cm;
    size:A4 landcsape;
  }

  th, td {
    padding: 6px;
    border: 1px solid black;
    text-align: left;
  }

 
  /* Hide unnecessary elements */
  button {
    display: none;
  }

  /* Remove shadows */
  * {
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* Remove backgrounds and borders */
  /* table, th, td {
    background-color: transparent !important;
    border: none !important;
  } */

  /* Avoid page breaks inside table cells */
  td, th {
    page-break-inside: avoid;
  }
}